# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Logs
*.log

# VS Code
.vscode/

# Database
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Docker
*.pid

# Secrets
secrets.json